/* You can add global styles to this file, and also import other style files */
:root {
    --primary: #2188D9;
    --secondary:  #060C1B;
    --warning: #FF3D00;
    --success: #53D86A;
    --gray: #B8B9BC;
    --gray1: #D7E5DA;
    --gray2: #ECECED;
    --light-blue: #1773BB;
}

html, body { height: 100%; }

* {
    box-sizing: border-box;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary);
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-weight: 700;
    margin-top: 0;
}

h1, .h1 {
    font-size: 2rem;
}

h2, .h2 {
    font-size: 2rem;
}

h5, .h5 {
    font-size: 1.125rem;
}

p {
    margin-top: 0;
}

.form-control {
    display: block;
    padding: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--secondary);
    background-color: #fff;
    border: 1px solid var(--gray);
    border-radius: 0.25rem;
}

select {
    &.form-control { 
        padding: 0.90rem 0.75rem;
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

.form-group {
    position: relative;

    span {
        color: var(--gray);
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translate(0, -50%);
        display: inline-flex;
    }

    .form-control {
        padding-left: 2.5rem;
    }
}

::placeholder {
    color: var(--gray);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--gray);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--gray);
}