<header class="header">
    <h1 class="h1">ZenduForms</h1>

    <div class="menu">
        <ul>
            <li *ngFor="let menu of navigation">
                <a [routerLink]="menu.link" routerLinkActive="selected">
                    <mat-icon [fontIcon]="menu.iconName"></mat-icon>
                    {{menu.name}}
                </a>
            </li>
        </ul>
    </div>

    <div class="action">
        <button [routerLink]="['/']">
            <mat-icon fontIcon="notifications"></mat-icon>
        </button>

        <button [routerLink]="['/']">
            <mat-icon fontIcon="logout"></mat-icon>
        </button>
    </div>
</header>